.git
.gitignore
.pytest_cache
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
node_modules
dashboard-app/node_modules
dashboard-app/.svelte-kit
dashboard-app/build
dist
build
tests
README.md
deploy.sh
